@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Nunito+Sans:wght@700&family=Vujahday+Script&display=swap');

:root {
  --primary-one: #c53058;
  --primary-two: #aa284b;
  --accent-one: #249369;
  --accent-two: #107b53;
  --base-one: #1c1917;
  --base-two: #292524;
  --base-three: #404040;
  --base-four: #a8a29e;
  --base-five: #d4d4d4;
  --base-six: #f5f5f5;
  --black: var(--base-one);
  --white: #fff;

  --bg: var(--base-six);

  --text-color-strong: var(--primary-one);
  --text-color-medium: var(--base-two);
  --text-color-light: var(--base-three);
  --text-color-deemphasized: var(--base-four);

  --text-shadow-dark: 1px 1px 2px rgba(0, 0, 0, 0.2);

  --border-width: 1px;
  --border-radius: 8px;
  --grid-md: 15px;
  --grid-sm: 10px;
  --grid-xs: 5px;

  --base-font-size: 18px;

  --screen-sm: 600px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;

  --transition: all 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-one: #f5f5f5;
    --base-two: #d4d4d4;
    --base-three: #a8a29e;
    --base-four: #404040;
    --base-five: #292524;
    --base-six: #1c1917;
    --white: var(--base-five);

    --text-color-strong: var(--base-one);
    --text-color-medium: var(--base-two);
    --text-color-light: #fff;
    --text-color-deemphasized: #374a57;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text-color-medium);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color-strong);
  font-family: Futura PT, 'Nunito Sans', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-color-deemphasized {
  color: var(--text-color-deemphasized);
}

a {
  color: var(--primary-one);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--primary-two);
  text-decoration: underline;
}

button {
  background: var(--primary-one);
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 1em;
  font-size: 14px;
  text-shadow: var(--text-shadow-dark);
  outline: 0;
  transition: var(--transition);
  box-shadow: 2px 2px 2px transparent;
}

button:hover {
  cursor: pointer;
  background: var(--primary-two);
}

button:focus {
  box-shadow: 0 0 0 3px rgba(197, 48, 88, 0.75);
}

/* Layout */
aside {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

aside h1 {
  padding: var(--grid-md);
}

.item {
  padding: var(--grid-md);
  border-bottom: var(--border-width) solid var(--base-five);
  text-decoration: none;
}

.logs {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.logs .item:last-child {
  border-bottom: none;
}

.item .title {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
}

.logs .item.active .title,
.logs .item .title:hover {
  color: var(--primary-two);
}

.label {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}

.logs .item.active {
  background-color: var(--base-five);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-two);
  border-radius: var(--border-radius);
}

/* Map Styles */
.map {
  position: absolute;
  left: 25%;
  width: 75%;
  top: 0;
  bottom: 0;
}

.mapboxgl-popup {
  top: -40px;
}

.mapboxgl-popup-close-button {
  font-size: 24px;
  padding: var(--grid-sm);
  top: -15px;
  border-top-right-radius: var(--border-radius);
}

.mapboxgl-popup-content {
  padding: 0;
  width: auto;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.mapboxgl-popup-content h3 {
  background: var(--primary-one);
  color: #fff;
  margin: 0;
  padding: var(--grid-sm);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-weight: 700;
  font-size: 24px;
  margin-top: -15px;
  text-shadow: var(--text-shadow-dark);
}

.mapboxgl-popup-content p {
  margin: var(--grid-sm);
  color: #292524;
  font-size: 16px;
}
